{% extends 'base.html.twig' %}

{% block title %}New LocationCosts{% endblock %}

{% block body %}
    <h1>Create new LocationCosts</h1>

    {{ include('location_costs/_form.html.twig') }}

    <a href="{{ path('location_costs_index') }}">back to list</a>
{% endblock %}
